<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'faqs', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div class="item title right">
    <h1>FAQ</h1>
  </div>
  <div class="item hidden1"></div>
  <div class="item matrix_hidden1">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div class="item hidden2"></div>
  <div class="item matrix_hidden2">
    <div class="square line"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div class="item hidden3"></div>
  <div class="item faq">
    <button class="accordion">
        <h3>Quem pode participar?</h3>
    </button>
    <div class="panel">
      <p>O Encontro Nacional de Estudantes de Multimédia é direcionado para todos os estudantes do ensino superior dos cursos relacionados com a área da multimédia em Portugal.</p>
    </div>
    <button class="accordion">
        <h3>Como me posso inscrever?</h3>
    </button>
    <div class="panel">
      <p>Para participar no ENEMM’19 deves adquirir o teu bilhete na <a href="https://tickets.enemm.pt" target="_blank">Bilheteira</a>. Existem vários tipos de bilhete que podes consultar <a href="javascript:openTag('[data-id=1]');" target="_blank">aqui</a>.</p>
    </div>
    <button class="accordion" data-id="1">
        <h3>O que é que um bilhete x inclui?</h3>
    </button>
    <div class="panel">
      <div id="grid1">
        <div class="items"><p>45€</p></div>
        <div class="items">
          <h3>bilhete individual completo</h3>
          <p>(inclui alojamento em pavilhão, conferências, workshops, alimentação e animação noturna)</p>
        </div>
        <div class="items"></div>
        <div class="items"><p>40€</p></div>
        <div class="items">
          <h3>bilhete individual hommies</h3>
          <p>(inclui conferências, workshops, alimentação e animação noturna)</p>
        </div>
        <div class="items"><p>40€</p></div>
        <div class="items">
          <div class="bilhete_grupo">
            <h3>bilhete individual grupo</h3>
            <h5>(mínimo 5 pessoas)</h5>
          </div>
          <p>(inclui alojamento em pavilhão, conferências, workshops, alimentação e animação noturna)</p>
        </div>
        <div class="items"></div>
        <div class="items"></div>
      </div>
      <div id="grid2">
        <div class="items"></div>
        <div class="items"><p>45€</p></div>
        <div class="items"></div>
        <div class="items">
          <h3>bilhete individual completo</h3>
          <p>(inclui alojamento em pavilhão, conferências, workshops, alimentação e animação noturna)</p>
        </div>
        <div class="items"></div>
        <div class="items"><p>40€</p></div>
        <div class="items"></div>
        <div class="items">
          <h3>bilhete individual hommies</h3>
          <p>(inclui conferências, workshops, alimentação e animação noturna)</p>
        </div>
        <div class="items"></div>
        <div class="items"><p>40€</p></div>
        <div class="items"></div>
        <div class="items">
          <div class="bilhete_grupo">
            <h3>bilhete individual grupo</h3>
            <h5>(mínimo 5 pessoas)</h5>
          </div>
          <p>(inclui alojamento em pavilhão, conferências, workshops, alimentação e animação noturna)</p>
        </div>
      </div>
    </div>
    <button class="accordion">
        <h3>Como me posso deslocar do espaço da conferência para o local de alojamento comum?</h3>
    </button>
    <div class="panel">
      <p>O espaço de conferência e o local de alojamento comum encontram-se a 10 minutos a pé de distância! Encorajamos todos os participantes a tirar partido desta caminhada.</p>
    </div>
    <button class="accordion">
        <h3>Como me posso deslocar do pavilhão/conservatório para a zona de animação noturna?</h3>
    </button>
    <div class="panel">
      <p>O transporte entre o local de alojamento comum e o local de jantar para o local de animação noturna estão contemplados na vossa participação e será feito de autocarro.</p>
    </div>
    <button class="accordion">
        <h3>O pavilhão tem vigilância 24h para deixar o nosso material?</h3>
    </button>
    <div class="panel">
      <p>Sim, no pavilhão estarão sempre elementos do Staff e um elemento de serviços de segurança para que tudo decorra dentro da normalidade.</p>
    </div>
    <button class="accordion">
        <h3>Onde posso tratar da minha higiene pessoal?</h3>
    </button>
    <div class="panel">
      <p>Para o caso dos participantes com alojamento, será possível tratar da sua higiene pessoal (tomar banho, lavar os dentes, etc) nos espaços destacados para o efeito.</p>
    </div>
    <button class="accordion">
        <h3>Quando me posso inscrever nos workshops?</h3>
    </button>
    <div class="panel">
      <p>Está atento às nossas redes sociais, vamos avisar-te quando te puderes inscrever!</p>
    </div>
    <button class="accordion">
        <h3>A que refeições tenho direito?</h3>
    </button>
    <div class="panel">
      <p>Tens direito a todas as refeições e coffee breaks durante o período do evento.</p>
    </div>
    <button class="accordion">
          <h3>Existe opção vegan/vegetariana ou opções para restrições alimentares?</h3>
    </button>
    <div class="panel">
      <p>Sim, no questionário de pós-inscrição poderás indicar as tuas restrições alimentares.</p>
    </div>
    <button class="accordion">
        <h3>A que horas devo chegar?</h3>
    </button>
    <div class="panel">
      <p>A sessão de abertura tem início às 18h00. No entanto, deverão chegar no decorrer da tarde para realizar o check-in, que tem início às 15h.</p>
    </div>
    <button class="accordion">
      <div class="info_faq">
        <h3>Que outras alternativas de alojamento tenho se não quiser ficar no pavilhão?</h3>
      </div>
    </button>
    <div class="panel">
      <p>O alojamento no pavilhão é o único assegurado pela organização. No entanto, temos parcerias com os locais de alojamento que se encontram abaixo. Para usufruir dos descontos, basta comprovarem que vão ao ENEMM (mostrando o vosso bilhete) no ato da reserva!</p>
      <div id="grid3">
        <div class="items"><h3>NS-Hostel</h3></div>
        <div class="items"><p>Quartos em dormitórios sem WC privado</p></div>
        <div class="items"><p>14,50€</p></div>
        <div class="items"><p>5 e 6 camas</p></div>
        <div class="items"><p>pequeno-almoço</p></div>
        <div class="items"></div>
        <div class="items"><p>Quartos em dormitórios sem WC privado</p></div>
        <div class="items"><p>15,00€</p></div>
        <div class="items"><p>3 e 4 camas</p></div>
        <div class="items"><p>pequeno-almoço</p></div>
        <div class="items"><p>Quartos Duplos/Twins sem WC privado</p></div>
        <div class="items"><h3>Hostel Sé Velha</h3></div>
        <div class="items"><p>35,00€</p></div>
        <div class="items"><p>Duplos ou Twins</p></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"><p>Quartos Duplos com WC privado</p></div>
        <div class="items"><p>48,00€</p></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"><p>Quarto com camaratas</p></div>
        <div class="items"><p>-10%</p></div>
        <div class="items"><h3>BE Coimbra</h3></div>
        <div class="items"><p>4, 6 e 8 camas</p></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"><p>Quartos duplos com cama de casal</p></div>
        <div class="items"><p>-10%</p></div>
        <div class="items"><p>Duplo</p></div>
        <div class="items"></div>
        <div class="items"><p>Quartos triplos com 3 camas de solteiro</p></div>
        <div class="items"><p>-10%</p></div>
        <div class="items"><p>Triplo</p></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"><p>Quarto partilhado</p></div>
        <div class="items"><p>13,50€</p></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"><p>Quarto partilhado</p></div>
        <div class="items"><p>16,50€</p></div>
        <div class="items"></div>
        <div class="items"><p>pequeno-almoço</p></div>
      </div>
      <div id="grid4">
        <div class="items"><h3>NS-Hostel</h3></div>
        <div class="items"><p>Quartos em dormitórios sem WC privado</p></div>
        <div class="items"><p>14,50€</p></div>
        <div class="items"><p>5 e 6 camas</p></div>
        <div class="items"><p>pequeno-almoço</p></div>
        <div class="items"><p>Quartos em dormitórios sem WC privado</p></div>
        <div class="items"><p>15,00€</p></div>
        <div class="items"><p>3 e 4 camas</p></div>
        <div class="items"><p>pequeno-almoço</p></div>
        <div class="items"><p>Quartos Duplos/Twins sem WC privado</p></div>
        <div class="items"><p>35,00€</p></div>
        <div class="items"><p>Duplos/Twins</p></div>
        <div class="items"></div>
        <div class="items"><p>Quartos Duplos com WC privado</p></div>
        <div class="items"><p>48,00€</p></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"><h3>Hostel Sé Velha</h3></div>
        <div class="items"><p>Quarto com camaratas</p></div>
        <div class="items"><p>-10%</p></div>
        <div class="items"><p>4, 6 e 8 camas</p></div>
        <div class="items"></div>
        <div class="items"><p>Quartos duplos com cama de casal</p></div>
        <div class="items"><p>-10%</p></div>
        <div class="items"><p>Duplo</p></div>
        <div class="items"></div>
        <div class="items"><p>Quartos triplos com 3 camas de solteiro</p></div>
        <div class="items"><p>-10%</p></div>
        <div class="items"><p>Triplo</p></div>
        <div class="items"></div>
        <div class="items"><h3>BE Coimbra</h3></div>
        <div class="items"><p>Quarto partilhado</p></div>
        <div class="items"><p>13,50€</p></div>
        <div class="items"></div>
        <div class="items"></div>
        <div class="items"><p>Quarto partilhado</p></div>
        <div class="items"><p>16,50€</p></div>
        <div class="items"></div>
        <div class="items"><p>pequeno-almoço</p></div>
      </div>
    </div>
  </div>
  <div id="myFooter" class="item footer right">
    <p>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></p>
  </div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
      panel.style.paddingTop = 0;
      panel.style.paddingBottom = 0;
      panel.style.borderBottom = 0;
      this.style.borderBottom = "1px solid var(--color-gold)";
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
      panel.style.padding = 2+"rem";
      this.style.borderBottom = 0;
      panel.style.borderBottom = "1px solid var(--color-gold)";
    }
  });
}
</script>
<script>
  function openTag(tag) {
    $(tag).click();
    $(tag).get(0).scrollIntoView({behavior: 'smooth', block: 'center'});
  }
</script>
<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>
