<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'schedule', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div id="myTitle" class="item title right">
    <h1>Programa</h1>
  </div>
  <div id="myHiddsen" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div class="matrix_day1 item">
    <div class="activity_info right">
      <h2>1 Março</h2>
    </div>
    <div class="activity_info">
      <h3>Sexta-feira</h3>
    </div>
    <div class="activity_info right">
      <p>13:45 - 19:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Check-In</p>
    </div>
    <div class="activity_info right">
      <p>20:00 - 21:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Jantar</p>
    </div>
    <div class="activity_info right">
      <p>21:00 - 02:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Animação Noturna</p>
    </div>
    <div class="activity_info_hidden oi">
      <h2>1 Março</h2>
      <h3>Sexta-feira</h3>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>13:45 - 19:00</p>
      <p>Check-In</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>20:00 - 21:00</p>
      <p>Jantar</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>21:00 - 02:00</p>
      <p>Party Animação Noturna</p>
    </div>
  </div>
  <div class="matrix_day2 item">
    <div class="activity_info right">
      <h2>2 Março</h2>
    </div>
    <div class="activity_info">
      <h3>Sábado</h3>
    </div>
    <div class="activity_info right">
      <p>10:00 - 11:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Pequeno-Almoço</p>
    </div>
    <div class="activity_info right">
      <p>11:00 - 13:00</p>
    </div>
    <div class="activity_info talks">
      <div class="talk_info">
        <h4>Talks - Business</h4>
        <div>
          <p onclick="openInfo()">O meu Caminho</p>
          <h5>Wandson Lisboa</h5>
        </div>
        <div>
          <p onclick="openInfo()">Digital Marketing</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Brand Recognition</p>
          <h5>João Magalhães</h5>
        </div>
        <div>
          <p onclick="openInfo()">Branded Content</p>
          <h5>André Braz, Angie Silva</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Light and Sound</h4>
        <div>
          <p onclick="openInfo()">Manipulação Digital de Som</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Sound</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Holography</p>
          <h5>Pedro Pombo</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info right">
      <p>13:00 - 14:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Almoço</p>
    </div>
    <div class="activity_info right">
      <p>13:45 - 14:45</p>
    </div>
    <div class="activity_info talks">
      <div class="talk_info">
        <h4>Talks - Hardware</h4>
        <div>
          <p onclick="openInfo()">Robotics</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Drones: Produção de Media, Rentabilidade e Futuro</p>
          <h5>José Nunes</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Web Interface</h4>
        <div>
          <p onclick="openInfo()">Demystifying Accessibility</p>
          <h5>Rafaela Ferro</h5>
        </div>
        <div>
          <p onclick="openInfo()">Information Visualization</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info right">
      <p>14:45 - 16:45</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Por Anunciar</p>
    </div>
    <div class="activity_info right">
      <p>16:45 - 17:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Coffee-Break</p>
    </div>
    <div class="activity_info right">
      <p>18:00 - 19:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <div>
        <p>Creativity, Art Direction, and Processes</p>
        <h5>Conversa aberta — Tavo Studio</h5>
      </div>
    </div>
    <div class="activity_info right">
      <p>20:00 - 21:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Jantar</p>
    </div>
    <div class="activity_info right">
      <p>21:00 - 02:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Animação Noturna</p>
    </div>
    <div class="activity_info_hidden oi">
      <h2>2 Março</h2>
      <h3>Sábado</h3>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>10:00 - 11:00</p>
      <p>Pequeno-Almoço</p>
    </div>
    <div class="activity_info_hidden talks">
      <p>11:00 - 13:00</p>
      <div class="talk_info">
        <h4>Talks - Business</h4>
        <div>
          <p onclick="openInfo()">O meu Caminho</p>
          <h5>Wandson Lisboa</h5>
        </div>
        <div>
          <p onclick="openInfo()">Digital Marketing</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Brand Recognition</p>
          <h5>João Magalhães</h5>
        </div>
        <div>
          <p onclick="openInfo()">Branded Content</p>
          <h5>André Braz, Angie Silva</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Light and Sound</h4>
        <div>
          <p onclick="openInfo()">Manipulação Digital de Som</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Sound</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Holography</p>
          <h5>Pedro Pombo</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>13:00 - 14:00</p>
      <p>Almoço</p>
    </div>
    <div class="activity_info_hidden talks">
      <p>13:45 - 14:45</p>
      <div class="talk_info">
        <h4>Talks - Hardware</h4>
        <div>
          <p onclick="openInfo()">Robotics</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Drones</p>
          <h5>José Nunes</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Web Interface</h4>
        <div>
          <p onclick="openInfo()">Demystifying Accessibility</p>
          <h5>Rafaela Ferro</h5>
        </div>
        <div>
          <p onclick="openInfo()">Information Visualization</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>14:45 - 16:45</p>
      <p>Por Anunciar</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>16:45 - 17:00</p>
      <p>Coffee-Break</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>18:00 - 19:00</p>
      <div>
        <p>Creativity, Art Direction, and Processes</p>
        <h5>Conversa aberta — Tavo Studio</h5>
      </div>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>20:00 - 21:00</p>
      <p>Jantar</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>21:00 - 02:00</p>
      <p>Animação Noturna</p>
    </div>
  </div>
  <div class="matrix_day3 item">
    <div class="activity_info right">
      <h2>3 Março</h2>
    </div>
    <div class="activity_info">
      <h3>Domingo</h3>
    </div>
    <div class="activity_info right">
      <p>10:00 - 11:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Pequeno-Almoço</p>
    </div>
    <div class="activity_info right">
      <p>11:00 - 13:00</p>
    </div>
    <div class="activity_info talks">
      <div class="talk_info">
        <h4>Talks - Graphics and Interaction</h4>
        <div>
          <p onclick="openInfo()">O meu Caminho</p>
          <h5>Luisa Azevedo</h5>
        </div>
        <div>
          <p onclick="openInfo()">Augmented Reality in graphic design</p>
          <h5>Luís Almeida</h5>
        </div>
        <div>
          <p onclick="openInfo()">Scripting Tipography</p>
          <h5>Pedro Neves</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Applied Multimedia</h4>
        <div>
          <p onclick="openInfo()">Game Design</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info right">
      <p>13:00 - 14:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Almoço</p>
    </div>
    <div class="activity_info right">
      <p>13:45 - 15:30</p>
    </div>
    <div class="activity_info talks">
      <div class="talk_info">
        <h4>Talks - Web Development</h4>
        <div>
          <p onclick="openInfo()">Product Design</p>
          <h5>Daniel Cardoso</h5>
        </div>
        <div>
          <p onclick="openInfo()">Company Culture and Creativity</p>
          <h5>Filipe Almeida</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Cinema</h4>
        <div>
          <p onclick="openInfo()">Cyber Iternity</p>
          <h5>Henrique Jorge</h5>
        </div>
        <div>
          <p onclick="openInfo()">Interactive Visualization</p>
          <h5>Ana Jorge</h5>
        </div>
        <div>
          <p onclick="openInfo()">Cinema</p>
          <h5>Angie Silva</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info right">
      <p>15:30 - 16:45</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <div>
        <p>Analog Multimedia</p>
        <h5>Conversa aberta — Studio Mals</h5>
      </div>
    </div>
    <div class="activity_info right">
      <p>16:45 - 17:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Coffee-Break</p>
    </div>
    <div class="activity_info right">
      <p>17:00 - 18:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Closing Session</p>
    </div>
    <div class="activity_info right">
      <p>18:00 - 19:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Closing Keynote</p>
    </div>
    <div class="activity_info right">
      <p>20:00 - 21:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Jantar</p>
    </div>
    <div class="activity_info right">
      <p>21:00 - 02:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Animação Noturna</p>
    </div>
    <div class="activity_info_hidden oi">
      <h2>3 Março</h2>
      <h3>Domingo</h3>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>10:00 - 11:00</p>
      <p>Pequeno-Almoço</p>
    </div>
    <div class="activity_info_hidden talks">
      <p>11:00 - 13:00</p>
      <div class="talk_info">
        <h4>Talks - Graphics and Interaction</h4>
        <div>
          <p onclick="openInfo()">O meu Caminho</p>
          <h5>Luisa Azevedo</h5>
        </div>
        <div>
          <p onclick="openInfo()">Augmented Reality in graphic design</p>
          <h5>Luís Almeida</h5>
        </div>
        <div>
          <p onclick="openInfo()">Scripting Tipography</p>
          <h5>Pedro Neves</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Applied Multimedia</h4>
        <div>
          <p onclick="openInfo()">Game Design</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>13:00 - 14:00</p>
      <p>Almoço</p>
    </div>
    <div class="activity_info_hidden talks">
      <p>13:45 - 14:45</p>
      <div class="talk_info">
        <h4>Talks - Web Development</h4>
        <div>
          <p onclick="openInfo()">Product Design</p>
          <h5>Daniel Cardoso</h5>
        </div>
        <div>
          <p onclick="openInfo()">Company Culture and Creativity</p>
          <h5>Filipe Almeida</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
      <div class="talk_info">
        <h4>Talks - Cinema</h4>
        <div>
          <p onclick="openInfo()">Cyber Iternity</p>
          <h5>Henrique Jorge</h5>
        </div>
        <div>
          <p onclick="openInfo()">Interactive Visualization</p>
          <h5>Ana Jorge</h5>
        </div>
        <div>
          <p onclick="openInfo()">Cinema</p>
          <h5>Angie Silva</h5>
        </div>
        <div>
          <p onclick="openInfo()">Por Anunciar</p>
          <h5>Por Anunciar</h5>
        </div>
      </div>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>15:30 - 16:45</p>
      <div>
        <p>Analog Multimedia</p>
        <h5>Conversa aberta — Studio Mals</h5>
      </div>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>16:45 - 17:00</p>
      <p>Coffee-Break</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>17:00 - 18:00</p>
      <p>Closing Session</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>18:00 - 19:00</p>
      <p>Closing Keynote</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>20:00 - 21:00</p>
      <p>Jantar</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>21:00 - 02:00</p>
      <p>Party Hard / Peddy-Tascas</p>
    </div>
  </div>
  <div class="matrix_day4 item">
    <div class="activity_info right">
      <h2>4 Março</h2>
    </div>
    <div class="activity_info">
      <h3>Segunda-feira</h3>
    </div>
    <div class="activity_info right">
      <p>10:00 - 13:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Workshops</p>
    </div>
    <div class="activity_info right">
      <p>13:00 - 14:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Almoço</p>
    </div>
    <div class="activity_info right">
      <p>13:45 - 16:45</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Workshops</p>
    </div>
    <div class="activity_info right">
      <p>16:45 - 17:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Coffee-break</p>
    </div>
    <div class="activity_info right">
      <p>17:00 - 19:00</p>
    </div>
    <div class="activity_info open_info" onclick="openInfo()">
      <p>Workshops</p>
    </div>

    <div class="activity_info_hidden oi">
      <h2>4 Março</h2>
      <h3>Segunda-feira</h3>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>10:00 - 13:00</p>
      <p>Workshops</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>13:00 - 14:00</p>
      <p>Almoço</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>13:45 - 16:45</p>
      <p>Workshops</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>16:45 - 17:00</p>
      <p>Coffee-break</p>
    </div>
    <div class="activity_info_hidden" onclick="openInfo()">
      <p>17:00 - 19:00</p>
      <p>Workshops</p>
    </div>
  </div>
  <%#<div class="info_content">
    <div id="myMenuInfo" class="menuInfo" onclick="openInfo()">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <h3>Inauguração Pátio das Escolas: “UC 725 Anos: Uma História de Luz"</h3>
    <hr>
    <p class="activity_date">Sexta-feira, 1 Março</p>
    <p class="activity_hour">17:00 — 19:00</p>
    <p class="activity_local">Pátio das Escolas</p>
    <hr>
    <p>O ENED - Encontro Nacional de Estudantes de Design - é um encontro que recebe
      desde a primeira edição centenas de estudantes, entusiastas e profissionais de
      referência das diferentes disciplinas da área do Design.</p>
  </div>%>
  <script type="text/javascript">
    function openInfo(slug) {
      console.log("Computer says no.");
    }
  </script>
  <%#<script>
    function openInfo(slug) {
      if($(".info_content").hasClass('info_show')) {
        $(".info_content").removeClass("info_show");
        $(".info_content-background").hide();

        if(window.history.pushState) {
          window.history.pushState(null, '', '/schedule');
        }
      } else if($(".info_show").length !== 0) {
        $(".info_content").removeClass('info_show');
        $(".info_content").addClass("info_show");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/schedule/');
        }
      } else {
        $(".info_content").addClass("info_show");
        $(".info_content-background").show();

        if(window.history.pushState) {
          window.history.pushState(null, '', '/schedule/');
        }
      }
    }
  </script>%>
  <div id="myFooter" class="item footer right">
    <p>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></p>
  </div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>
