<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'speakers', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div id="myTitle" class="item title right">
    <h1>Oradores</h1>
  </div>
  <div id="myHidden" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div id="myMatrix_Speaker" class="item matrix_speakers">
    <div class="square speaker1" data-slug="studio-mals" onclick="myFunction('studio-mals'), openInfo('studio-mals')">
      <div class="speaker_info">
        <span class="speaker_name">Studio Mals</span><span>Studio Mals</span>
      </div>
    </div>
  </div>
  <div id="myInfo" class="info_noshow" data-slug="studio-mals">
    <div id="myMenuInfo" class="menuInfo" data-slug="studio-mals" onclick="openInfo('studio-mals')">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <h1>Studio Mals</h1>
    <h3>About our studio</h3>
    <p><strong>handcrafted eye-candy</strong></p>
    <p>Mals crafts high quality eye-catching images and film. Our work is often tangible -preferably handmade- and has a conceptual approach. Combined with a playful attitude, it results in a strong visual language.</p>
    <h3>About our talk</h3>
    <p>We know a simple portfolio slideshow is very boring. We prefer to show loads of behind the scenes and talk about the making of process. This way we can really get to the bottom of our ridiculously sexy crafted eye candy!</p>
    <a href="http://www.studiomals.com" target="_blank">Saber Mais</a>
  </div>
</div>
<script>
  function myFunction(slug) {
    $("[data-slug="+slug+"]").toggleClass('change');
  }

  function openInfo(slug) {
    $(".info_noshow[data-slug="+slug+"]").toggleClass("info_show");
        // document.getElementById("myInfo").classList.toggle("info_show");
        $("#myHeader").toggleClass("grayscale_toogle");
        //document.getElementById("myHeader").classList.toggle("grayscale_toogle");
        $("#myNavbar").toggleClass("grayscale_toogle");
        //document.getElementById("myNavbar").classList.toggle("grayscale_toogle");
        $("#myTitle").toggleClass("grayscale_toogle");
        //document.getElementById("myTitle").classList.toggle("grayscale_toogle");
        $("#myHidden").toggleClass("grayscale_toogle");
        //document.getElementById("myHidden").classList.toggle("grayscale_toogle");
        $("#myMatrix_Hidden").toggleClass("grayscale_toogle");
        //document.getElementById("myMatrix_Hidden").classList.toggle("grayscale_toogle");
        $("#myMatrix_Speaker").toggleClass("grayscale_toogle");
        //document.getElementById("myMatrix_Speaker").classList.toggle("grayscale_toogle");
        $("#myFooter").toggleClass("grayscale_toogle");
        //document.getElementById("myFooter").classList.toggle("grayscale_toogle");
      }
    </script>
  </div>
  <div id="myFooter" class="item footer right">
    <small>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></small>
  </div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  $(document).ready(() => {
    var pathname = window.location.pathname;
    var pathname_array = pathname.split('/');
    console.log(pathname_array);
    if(pathname_array.length == 3) {
      var slug = pathname_array[2];
      console.log(slug);
      myFunction(slug);
      openInfo(slug);
    }
  });
</script>
