<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'speakers', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div id="myTitle" class="item title right">
    <h1>Oradores</h1>
  </div>
  <div id="myHidden" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div id="myMatrix_Speaker" class="item matrix_speakers">
    <div class="square speaker1" data-slug="studio-mals" onclick="myFunction('studio-mals'), openInfo('studio-mals')">
      <div class="speaker_info">
        <span class="speaker_name">Studio Mals</span><span>Studio Mals</span>
      </div>
    </div>
  </div>
  <div id="myInfo" class="info_noshow" data-slug="studio-mals">
    <div id="myMenuInfo" class="menuInfo" data-slug="studio-mals" onclick="openInfo('studio-mals')">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <h1>Studio Mals</h1>
    <p>O Studio Mals produz imagens e filmagens cativantes e de alta qualidade. O seu trabalho é quase sempre tangível - de preferência feito à mão. Com uma abordagem conceptual, resulta numa forte linguagem visual.</p>
    <p></p>
    <p>Mals crafts high quality eye-catching images and film. Our work is often tangible -preferably handmade- and has a conceptual approach. Combined with a playful attitude, it results in a strong visual language.</p>
    <a href="http://www.studiomals.com" target="_blank">Saber Mais</a>
  </div>
</div>
<script>
  function myFunction(slug) {
    $("[data-slug="+slug+"]").toggleClass('change');
  }

  function openInfo(slug) {
    $(".info_noshow[data-slug="+slug+"]").toggleClass("info_show");
    $("#myHeader").toggleClass("grayscale_toogle");
    $("#myNavbar").toggleClass("grayscale_toogle");
    $("#myTitle").toggleClass("grayscale_toogle");
    $("#myHidden").toggleClass("grayscale_toogle");
    $("#myMatrix_Hidden").toggleClass("grayscale_toogle");
    $("#myMatrix_Speaker").toggleClass("grayscale_toogle");
    $("#myFooter").toggleClass("grayscale_toogle");
  }
</script>
</div>
<div id="myFooter" class="item footer right">
  <small>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></small>
</div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  $(document).ready(() => {
    var pathname = window.location.pathname;
    var pathname_array = pathname.split('/');
    if(pathname_array.length == 3) {
      var slug = pathname_array[2];
      myFunction(slug);
      openInfo(slug);
    }
  });
</script>
