<div class="partner_list <%= class_name %>">
  <% sponsors.each do |sponsor| %>
    <% if sponsor.logo.attached? %>
      <%= link_to sponsor.website, target: '_blank', class: 'partner_link' do %>
        <%= image_tag(url_for(sponsor.logo), alt: sponsor.name, class: 'partner_logo') %>
      <% end %>
    <% end %>
  <% end %>
</div>

