html {
  background-color: var(--color-purple);
  color: var(--color-purple);
}

.container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'navbar navbar navbar navbar navbar navbar'
    'title title history history history history'
    'where where matrix matrix matrix matrix'
    'about about about about about about'
    'img img local local local local'
    'map map partners partners partners partners'
    'footer footer footer footer footer footer';
  grid-gap: 2px;
  background-color: var(--color-purple);
}

.item {
  background-color: var(--color-light-grey);
}

.header{
  border-right: solid 2px var(--color-purple);
}

.header a:hover {
  color: var(--color-light-grey);
  background-color: var(--color-purple);
}

.menu_links--about{
  font-weight: 600;
}

.about, .local, .partners, .history {
  padding: 5em;
}

.map {
  grid-area: map;
}

#map {
  height: 100%;
  min-height: 350px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: title;
  min-width: 350px;
  min-height: 200px;
  padding: 2rem 2rem 0 0;
}

.about {
  grid-area: about;
}

.where {
  grid-area: where;
  min-width: 500px;
  height: auto;
  background-image: image-url('where.png');
  background-size: cover;
}

.history {
  grid-area: history;
}

.about p {
  padding-bottom: 1rem;
}

.matrix {
  grid-area: matrix;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  background-color: var(--color-purple);
}

.square {
  background-color: var(--color-light-grey);
  min-height: 150px;
}

.line {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background:
       linear-gradient(to top right,
           var(--color-light-grey) 0%,
           var(--color-light-grey) calc(50% - 0.8px),
           var(--color-purple) 50%,
           var(--color-light-grey) calc(50% + 0.8px),
           var(--color-light-grey) 100%);
}

.hidden {
  grid-area: hidden;
  min-height: 200px;
}

.hidden2 {
  grid-area: hidden2;
  min-height: 200px;
}

.img {
  grid-area: img;
  min-height: 300px;
  background-image: image-url('coimbra_about.jpeg');
  background-size: cover;
}

.local {
  display: flex;
  flex-direction: column;
  grid-area: local;
}

.partners {
  grid-area: partners;
}

.partner_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.partner_link {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img_big .partner_link {
  flex-basis: 200px;
}

.img_medium .partner_link {
  flex-basis: 150px;
}

.img_small .partner_link {
  flex-basis: 100px;
}

.partner_logo {
  height: auto;
}

.img_big .partner_logo {
  width: 100px;
}

.img_medium .partner_logo {
  width: 75px;
}

.img_small .partner_logo {
  width: 50px;
}

a {
  color: var(--color-purple);
}

h2 {
  display: block;
  padding-bottom: 2rem;
}

@media (max-width: 950px) {
  .container {
    grid-template-areas:
      'navbar navbar navbar navbar navbar navbar'
      'title title history history history history'
      'matrix matrix where where where where'
      'about about about about about about'
      'img img local local local local'
      'map map partners partners partners partners'
      'footer footer footer footer footer footer';
  }

  .about, .local, .partners, .history {
    padding: 4rem;
  }

  .title {
    min-width: 275px;
  }

  .img_big .partner_link {
    flex-basis: 125px;
  }

  .img_medium .partner_link {
    flex-basis: 100px;
  }

  .img_small .partner_link {
    flex-basis: 75px;
  }

  .partner_link {
    margin: 10px auto;
  }
}

@media (max-width: 850px) {
  .about, .local, .partners, .history {
    padding: 3rem;
  }
}


@media (max-width: 760px) {
  .container {
      grid-template-rows: 80px 80px 1fr 400px 1fr 1fr 1fr 1fr 80px;
      grid-template-areas:
        'navbar navbar'
        'title title'
        'history history'
        'where where'
        'about about'
        'img img'
        'local local'
        'map map'
        'partners partners'
        'footer footer'
  }

  .about, .local, .partners, .history, .title {
    padding: 2rem;
  }

  .hidden, .matrix {
    display: none;
  }

  .title {
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }

  .bs {
    display: none;
  }

  .ss {
    display: block;
  }
}

/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  //border-radius: 5px;
  color: var(--color-light-grey);
  font-size: 0.8rem;
  overflow-y: hidden;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
  background-color: var(--color-purple);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid var(--color-purple);
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

.popup-bubble h5, .popup-bubble p {
  font-size: 0.8rem;
}

.popup-bubble h5 {
  margin: 0;
}

.popup-bubble p {
  line-height: 0.8rem;
  margin-top: 0.4rem;
}
