@font-face {
  font-family: 'Neue Montreal';
  src: font-url('NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Montreal';
  src: font-url('NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Neue Montreal';
  src: font-url('NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
}
