html {
  background-color: var(--color-black);
  color: var(--color-black);
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 80px 214px 1fr 80px;
  grid-template-areas:
    'navbar navbar navbar navbar navbar navbar'
    'title title hidden matrix_hidden matrix_hidden matrix_hidden'
    'matrix_speakers matrix_speakers matrix_speakers matrix_speakers matrix_speakers matrix_speakers'
    'footer footer footer footer footer footer';
  grid-gap: 2px;
  background-color: var(--color-black);
}

.header a:hover {
  color: var(--color-gold);
  background-color: var(--color-black);
}

.menu_links--speakers{
  font-weight: 600;
}

.header{
  border-right: solid 2px var(--color-black);
}

.item {
  background-color: var(--color-gold);
}

.title, .price_early, .price_group, .price_single {
  padding: 2em;
}

.title {
  grid-area: title;
  min-width: 100px;
  min-height: 150px;
}

.matrix_hidden {
  grid-area: matrix_hidden;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  background-color: var(--color-black);
  height: 214px;
}

.matrix_hidden .square {
  background-color: var(--color-gold);
  min-width: 75px;
  min-height: 75px;
}

.hidden {
  grid-area: hidden;
  min-width: 214px;
}

.matrix_speakers {
  grid-area: matrix_speakers;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
  background-color: var(--color-black);
}

.matrix_speakers .square {
  background-color: var(--color-gold);
  min-width: 100px;
  min-height: 20vw;
}

.speaker {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.speaker_temp {
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: var(--color-gold);
  cursor: default;

  &::after{
    content: "?";
    font-weight: 600;
    font-family: Neue Montreal;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.2;
  }
}

.speaker_info {
  display: inline-flex;
  flex-direction: column;
  padding: .5em;
  background-color: var(--color-black);
  color: var(--color-gold);
  font-weight: 500;
  transition: 0.2s ease;
}

.speaker_info p:last-child{
  padding-top: .2em;
  font-weight: 100;
}

.speaker_temp > .speaker_info {
  background-color: var(--color-gold);
  color: var(--color-black);
  border-top: solid 2px var(--color-black);
  border-right: solid 2px var(--color-black);
}

.speaker:hover > .speaker_info {
  display: inline-flex;
  background-color: var(--color-gold);
  color: var(--color-black);
  border-top: solid 2px var(--color-black);
  border-right: solid 2px var(--color-black);
}

.activity_info{
  display: inline-flex;
  flex-direction: row;
  padding: .5em;
  background-color: var(--color-gold);
  color: var(--color-black);
  font-weight: 500;
  border-top: solid 2px var(--color-black);
  border-right: solid 2px var(--color-black);
}

.speaker:hover > .activity_info {
  display: inline-flex;
  background-color: var(--color-black);
  color: var(--color-gold);
}

.speaker_name {
  font-weight: bold;
}

a {
  color: var(--color-black);
}

/* NAVBAR MENU ICON */
.bar1, .bar2, .bar3 {
    background-color: var(--color-black);
}

.info_content {
  position: fixed;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 600px;
  top: 0;
  bottom: 0;
  right: -600px;
  background: var(--color-black);
  color: var(--color-gold);
  padding: 1rem 0 3rem 0;
  z-index: 3;
  transition: 0.3s ease;
}

.info_show {
  right: 0;
}

.info_content-background{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
}

.info_content p, .info_content h1, .info_content h3, .info_content a {
  margin: 0rem 4rem 1rem 4rem;
  line-height: 1.5;
  color: var(--color-gold);
}

.info_content p, .info_content a {
  font-size: 16px;
}

.info_content h1 {
  margin-top: 2rem;
}

.info_content h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.info_content a {
  text-decoration: underline;
}

.info_content hr {
  color: transparent;
  background-color: transparent;
  border: none;
  margin: 1rem 0;
}

.menuInfo {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    cursor: pointer;
}

.button {
  width: fit-content;
  font-family: Neue Montreal;
  border-style: none;
  border: 2px solid var(--color-gold);
  font-size: 16px;
  padding: 10px 20px;
  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover{
    text-decoration: none;
    color: var(--color-black);
    background: var(--color-gold);
  }
}

.menuInfo .bar1, .menuInfo .bar2, .menuInfo .bar3 {
    background-color: var(--color-gold);
}

.menuInfo .bar1 {
    -webkit-transform: rotate(-45deg) translate(-1px, 6px);
    transform: rotate(-45deg) translate(-1px, 6px);
}

.menuInfo .bar2 {
    -webkit-transform: rotate(45deg) translate(-2px, -7px);
    transform: rotate(45deg) translate(-2px, -7px);
}

@media (max-width: 950px) {
  .container {
      grid-template-rows: 80px 80px 1fr 80px;
      grid-template-areas:
        'navbar navbar'
        'title hidden'
        'matrix_speakers matrix_speakers'
        'footer footer'
  }

  .matrix_speakers {
    grid-template-rows: repeat(auto-fill, 250px);
    grid-template-columns: repeat(3, 1fr);
  }

  .matrix_speakers .square {
    min-height: 32vw;
  }

  .matrix_hidden {
    display: none;
  }

  .title {
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }

  .hidden {
    min-width: 0;
  }
}

@media (max-width: 760px) {
  .container {
    grid-template-rows: 80px 80px 1fr 80px;
    grid-template-areas:
      'navbar navbar'
      'title title'
      'matrix_speakers matrix_speakers'
      'footer footer'
  }

  .matrix_speakers {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .matrix_hidden, .hidden {
    display: none;
  }

  .matrix_speakers .square {
    min-height: 99vw;
  }

  .title {
    justify-content: flex-start;
  }

  html .info_show {
    width: 100%;
    top: 0;
    bottom: 0;
  }
}
